head {
  font-family: "Noto Sans JP", sans-serif;
}
header {
  display: flex;
  flex-direction: row;
  padding: 0, 24, 0, 24;
  height: 80px;
  gap: 474px;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  align-items: center;
  margin: 0 auto;
}
.posse {
  margin: 60px;
  margin-top: 100px;
}
.nav {
  display: flex;
  list-style-type: none;
  /* リストの点々の表記 */
  position: relative;
  bottom: 80px;
  margin-left: 400%;
  justify-content: space-around;
  width: 300px;
  /* なんでwidth必要なん？ */
}
.Front {
  position: relative;
  width: 100%;
  height: 680px;
  left: 8%;
  right: 0px;
  margin-top: 100px;
}
.scrollDown {
  width: 200px;
  position: absolute;
  bottom: 5%;
}
li {
  color: gray;
}
/* .dot{
  position: relative;
  color: gray;
  font-size: 40px;
} */

/*  */
.Best {
  border: 10px solid #eff2f5;
  border-radius: 24px;
  background: #eff2f5;
  width: 32%;
  height: 281px;
  top: 140px;
  left: 20px;
  margin: 50px;
  z-index: 50; /* これでマージンおk？ */
  position: absolute;
  text-align: center;
  margin: 0 auto;
}

main section h1 {
  font-size: 60px;
  font-weight: 700px;
  line-height: 80px;
}
.PosseImg {
  background: url(../img/img-hero.jpg);
  border-radius: 80px 0px 0px 80px;
  background-size: cover;
  position: absolute;
  width: 70%;
  height: 680px;
  left: 25%;
  right: 0px;
  top: 0px;
  z-index: 10;
}

/* 重ねるためimgはbackgroundにいく
imgをすべて表示させるためにcoverを使う？   */
.AboutPOSSE {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  transform: translate(45%);
}
.AboutTitle {
  position: absolute;
  width: 195px;
  height: 90px;
  top: 0px;
}
.AboutPOSSE h2 {
  position: relat;
  width: 191px;
  height: 54px;
  left: calc(50% - 191px / 2);
  top: 0px;

  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  /* identical to box height, or 54px */

  text-align: center;

  /* dark */

  color: #333333;
}
.BlueAbout {
  position: absolute;
  width: 120px;
  height: 25px;
  left: 35px;
  top: 70px;

  /* subtitle */

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 180%;
  /* or 25px */

  text-align: center;
  flex-wrap: nowrap;
}
.ImgText {
  /* Auto layout */
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 20%;
  gap: 40px;

  position: absolute;
  width: 12%;
  height: 312px;
  top: 130px;
}
.Explain {
  position: absolute;
  width: 472px;
  height: 175px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  /* or 25px */

  text-align: justify;

  /* dark */

  color: #333333;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  transform: translate(55%);
}

.AboutImg {
  position: absolute;
  background: url(../img/img-about.jpg);
  width: 472px;
  height: 312px;
  border-radius: 24px;
  background-size: cover;
  flex-grow: 0;
  transform: translate(-55%);
  /* * これなに？ * */
}
h3 {
  color: #0071bc;
}

.line {
  position: relative;
  width: 55%;
  height: 358px;
  top: 50%;
  transform: translate(40%, 200%);
  margin: 0;

  color: #eff2f5;
  z-index: 10;
  /*  位置指定でごり押したけど子要素を縦から順に並べる方法はある？ */
}
.inner {
  position: absolute;
  z-index: 10;
  top: 40px;
}
.title {
  position: absolute;
  width: 180%;
  bottom: 100px;
  flex-wrap: nowrap;
  text-align: center;
  margin: auto 0;
}
.lineIcon {
  position: absolute;
  right: 250px;
  top: 30%;
}
.text {
  width: 180%;
  text-align: center;
}
.background {
  position: absolute;
  bottom: 80px;
  background: #0071bc;
  width: 984px;
  height: 357px;
  border-radius: 30px;
  z-index: 0;
}
.background img {
  border-radius: 48px;
  height: 357px;
  width: 984px;
  opacity: 0.1;
  position: absolute;
  transform: translate;
  /* margin: auto 0; */
}
.AddLINE {
  position: absolute;
  width: 75%;
  height: 50px;
  left: 100px;
  top: 120px;
  background-color: #ffffff;
  border-radius: 98px;
  transform: translate(45%);
}

/* light */
.white {
  width: 320px;
  height: 50px;
  border-radius: 98px;
  z-index: 5;
  /* なんで背景色の下に文字がある？ */
}
.AddLINE p {
  color: black;
  position: absolute;
  z-index: 20;
  top: 1px;
  right: 40%;
}
.linkDark {
  position: absolute;
  top: 14px;
  right: 10px;

  /* dark */
}
footer {
  position: absolute;
  width: 1440px;
  height: 355px;
  left: 140px;
  top: 1875px;
  text-align: center;
}
.posseLine {
  position: fixed;
  background-color: #5fdf5b;
  display: flex;
  width: 288px;
  height: 80px;
  color: #eff2f5;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
  padding: 20px;
  bottom: 1%;
  right: 1%;
  z-index: 100;
}
.p {
  position: absolute;
  top: 1875px;
  height: 355px;
  text-align: center;
}
.sns {
  margin-bottom: 80px;
}
